body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: indianred;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: fit-content;
  padding: 5%;
  height: 100vh;
  border: solid black 1px;
}

#button {
  min-width: fit-content;
  height: clamp(3rem, 6rem, 8rem);
  font-size: 2rem;
  background-color: silver;
}

button:hover {
  cursor: pointer;
}

#text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
  height: 5rem;
  width: 15rem;
}
